body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #FAFAFA;
}

html {
    width: 100%;
    overflow-x: hidden;
}

span {
    font-size: 20px;
}

input {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #FAFAFA;
    height: 25px;
    width: 150px;
}

textarea {
    margin-top: 8px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    resize: none;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    /* dont delete it! position sticky doesn't work then!!!!! */
    padding: 0px 100px 0px 100px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;
}

nav img {
    height: 25px;
    width: 25px;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nav-icons img {
    height: 30px;
    width: 30px;
}

#postcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none;
}

.card {
    width: 470px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.namelink {
    text-decoration: none;
    color: black;
}

.authorlink {
    text-decoration: none;
    color: black;
}

.authorlink:hover {
    color: gray;

}

.bluelink {
    font-weight: bold;
    text-decoration: none;
    color: #0095F6;
}

.bluelink:hover {
    color: #01376B;
}

.suggestion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 8px;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
}

.profilepicture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.author-details {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.bolt {
    font-weight: bold;
}

.postimage {
    width: 470px !important;
    max-height: 587.5px;
}

.icons {
    display: flex;
    padding: 8px;
    gap: 8px;
}

.icons img {
    height: 25px;
    width: 25px;
}

.likes {
    padding-left: 8px;
}

.description-section {
    display: flex;
    width: 470px;
    gap: 2px;
    padding: 8px 8px 0px 8px;
}

.description {
    display: flex;
}

.commentsection {
    display: flex;
    flex-direction: column;
    /*  justify-content: space-between; */
    padding: 0 8px 8px 8px;
}

.single-comment {
    padding-top: 8px;
    word-wrap: break-word;
}

.add-comment-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


/* FORM VALIDATION */
.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 50vh;
    width: 50vw;
    background-color: white;
    /*  border: 1px solid lightgray; */
    border-radius: 10px;
    padding: 24px;
}

.disable-scrolling {
    overflow-y: hidden;
}

.dialog-exit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dialog-exit img {
    height: 32px;
    width: 32px;
}

.d-none {
    display: none;
}



@media(max-width: 1000px) {
    .nav {
        height: 100px;
        padding: 0px 20px 0px 20px;
    }

    .nav-icons {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    #suggestionscontainer {
        display: flex;
        justify-content: center;
    }

    @media(max-width: 490px) {
        .nav {
            height: 100px;
            padding: 0px 20px 0px 20px;
        }

        .card {
            width: 400px;
        }

        .postimage {
            width: 400px !important;
        }

        .description-section {
            display: flex;
            flex-direction: column;
        }
    }

    @media(max-width: 430px) {
        input {
            display: none;
        }

        .card {
            width: 350px;
            min-width: 350px;
        }

        .suggestion {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
        }

        .postimage {
            width: 350px !important;
        }

        .profilepicture {
            height: 40px;
            width: 40px;
        }

        .description-section {
            display: flex;
            flex-direction: column;
            width: 350px;
            word-wrap: break-word;

        }
    }


    @media(max-width: 350px) {
        .card {
            width: 250px;
            min-width: 250px;
            margin: 8px;
        }

        .suggestion {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
        }

        .postimage {
            width: 250px !important;
        }

        .description-section {
            display: flex;
            flex-direction: column;
            width: 250px;
            word-wrap: break-word;
        }
    }

    .author-details {
        display: flex;
        flex-direction: column;
        min-width: 200px;
    }
}