body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #FAFAFA;
}

span {
    font-size: 20px;
}

input {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #FAFAFA;
    height: 25px;
    width: 150px;
}

textarea {
    margin-top: 8px;
    width: 300px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    resize: none;
}

.content {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    padding: 0px 100px 20px 100px;
    background-color: white;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    height: 100px;
}

nav img {
    height: 25px;
    width: 25px;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nav-icons img {
    height: 30px;
    width: 30px;
}

#postcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none;
}

.card {
    width: 470px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.namelink {
    text-decoration: none;
    color: black;
}

.authorlink {
    text-decoration: none;
    color: black;
}

.authorlink:hover {
    color: gray;
}

.bluelink{
    font-weight: bold;
    text-decoration: none;
    color:#0095F6;
}

.bluelink:hover {
    color: #01376B;
}

.suggestion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin:8px;
}

.profile-section{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
}

.profilepicture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.author-details{
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.bolt {
    font-weight: bold;
}

.postimage{
    width: 470px !important; 
    max-height: 587.5px;
}

.icons {
    display: flex;
    padding: 8px;
    gap: 8px;
}

.icons img {
    height: 25px;
    width: 25px;
}

.likes {
    padding-left: 8px;
}

.description-section {
    display: flex;
    width: 470px;
    gap: 2px;
    padding: 8px;
}

.commentsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
