body {
    font-family: 'Open Sans', sans-serif;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 0px 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100vw;
   

}
#postcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.d-none {
    display: none;
}
.card {
    width: 470px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
}

.profile-section{
    display: flex;
    align-items: center;
    gap: 16px;
}

.profilepicture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.author-details{
    display: flex;
    flex-direction: column;
}
.author-bolt {
    font-weight: bold;
}
.postimage{
    width: 470px !important; 
    max-height: 587.5px;
}
.icons {
    display: flex;
}
.icons img {
    height: 25px;
    width: 25px;
}
.description-section {
    display: flex;
    width: 470px;
    gap: 2px;
}